@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background-color: #002244;
  color: #f4f4f4;
  font-size: 1rem;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003366;
  color: white;
}
header .header-container {
  padding: 20px 0;
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.search {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  flex-direction: column;
}
.search input {
  flex: 1;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
  padding: 10px;
  outline: none;
}
.search input:focus {
  border-color: #003366;
  outline: none;
}
